//
	Visualizing the Space of Logos of the Fortune 500:
	Using machine learning to explore visual similarity in the logos of the Fortune 500.

	By Knut M. Synstad
	knutsynstad.com
	twitter.com/knutsynstad

	Source code available on GitHub:
	https://github.com/knutsynstad/fortune500

doctype html
html(lang="en")
	head
		title Visualizing the Space of Logos of the Fortune 500
		include _partials/meta_social.pug
		meta(charset='UTF-8')
		meta(name='description' content='Using machine learning to explore visual similarity in the logos of the Fortune 500.')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='shortcut icon' href='favicon.ico')

	body(data-state="loading" data-overlay="none" data-instructions="false")
		//- Load SVG definitions
		include ../svg/symbols.svg
		include _partials/introduction.pug

		svg#figure

		include _partials/instructions.pug
		#calculating
			.icons
				svg.icon.spinner: use(xlink:href='#icon-spinner')
				svg.icon.cancel: use(xlink:href='#icon-close')

			p.calculating-label Calculating visualization
			p.calculating-state Loading data

		#overlay
		include _partials/modals.pug
		include _partials/configuration.pug
		include _partials/navigation.pug

		script(src='https://d3js.org/d3.v4.min.js')

		//- Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-43450355-2")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-43450355-2');
