#configuration-wrapper
	.meta
		h3 Configuration
		svg#close-configuration.icon: use(xlink:href='#icon-close')
	.configuration-scrollable
		ul.configuration-group
			h4 t-SNE
			li
				.variable
					input#epsilon(type="number" placeholder="10" value='10' min='1' max='30')
					label(for="epsilon") Epsilon
				p.description Learning rate.
			li
				.variable
					input#perplexity(type="number" placeholder="15" value='15' min='1' max='50')
					label(for="perplexity") Perplexity
				p.description A guess about the number of visually similar neighbors each logo has.
			li
				.variable
					input#steps(type="number" placeholder="250" value='250' min='1' max='999')
					label(for="steps") Steps
				p.description Solution improves with every step, but the calculation takes longer.
		ul.configuration-group
			h4 Linear assignment
			li
				.variable
					input#linearAssignment(type="checkbox" checked)
					label(for="linearAssignment")
						span Enable
						.checkbox
							svg.icon.checked: use(xlink:href='#icon-checkbox-checked')
							svg.icon.unchecked: use(xlink:href='#icon-checkbox')
				p.description Align to grid.
			li
				.variable
					input#cellsPerSide(type="number" placeholder="30" value='30' min='23' max='60')
					label(for="cellsPerSide") Cells per side
				p.description Larger values mean less distortion
			li
				.variable
					input#padding(type="number" placeholder="2" value='2' min='0' max='10')
					label(for="padding") Padding
				p.description Space between logos
	.button-group
		button#update Update
		button#reset Reset