section#instructions
	#tip
		h3 Instructions
		ul
			li Scroll to change zoom level
			li Click-and-drag to move (pan)
			li Click the edit icon to manipulate

	ul#tool-highlight
		li Edit
		li Share
		li More