ul#share-modal.modal
	li: a(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ffortune500.knutsynstad.com&text=Visualizing%20the%20Space%20of%20Logos%20of%20the%20Fortune%20500%3A%20Using%20machine%20learning%20to%20explore%20visual%20similarity%20in%20the%20logos%20of%20the%20Fortune%20500.%20%23design%20%23datavisualization%20%23ai" target="_blank") Twitter
	li: a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//fortune500.knutsynstad.com/" target="_blank") Facebook
	li: a(href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ffortune500.knutsynstad.com&title=Visualizing%20the%20Space%20of%20Logos%20of%20the%20Fortune%20500%3A%20Using%20machine%20learning%20to%20explore%20visual%20similarity%20in%20the%20logos%20of%20the%20Fortune%20500.%20%23design%20%23datavisualization%20%23ai" target="_blank") LinkedIn
	li: a(href="https://pinterest.com/pin/create/button/?url=http%3A//fortune500.knutsynstad.com&media=http%3A//fortune500.knutsynstad.com/images/thumbnail.png&description=Visualizing%20the%20Space%20of%20Logos%20of%20the%20Fortune%20500%3A%20Using%20machine%20learning%20to%20explore%20visual%20similarity%20in%20the%20logos%20of%20the%20Fortune%20500." target="_blank") Pinterest
	li: a(href="mailto:?&subject=Visualizing the Space of Logos of the Fortune 500&body=Visualizing%20the%20Space%20of%20Logos%20of%20the%20Fortune%20500%3A%20Using%20machine%20learning%20to%20explore%20visual%20similarity%20in%20the%20logos%20of%20the%20Fortune%20500.%0A%0Ahttp%3A//fortune500.knutsynstad.com" target="_blank") Email

ul#more-modal.modal
	li#introduction-button Introduction
	li#instruction-button Instructions
	li: a(href="https://github.com/knutsynstad/fortune500" target="_blank") Code
	li#about-button About

#about-modal
	.meta
		h3 About
		svg#close-about.icon: use(xlink:href='#icon-close')
	.primary-column
		p Using machine learning to discover visual patterns in the logos of the highest earning companies in America, the <a href="http://fortune.com/fortune500/" target="_blank">Fortune 500</a>.
		p Visualizations are calculated in real time, enabling viewers to tune the knobs and dials of the underlying algorithms.
		p The code is available on <a href="https://github.com/knutsynstad/fortune500" target="_blank">GitHub</a>.
	.secondary-column
		h4 Thanks to
		ul.thankyou
			li: a(href="http://fortune.com/" target="_blank") Fortune Magazine
			li: a(href="https://twitter.com/ryankeisler" target="_blank") Ryan Keisler
			li: a(href="https://twitter.com/dubberlydesign" target="_blank") Hugh Dubberly
			li: a(href="https://twitter.com/codywackerman" target="_blank") Cody Wackerman
			li: a(href="http://www.monicadmiller.com/" target="_blank") Monica Miller
			li: a(href="http://www.dubberly.com/" target="_blank") DDO

		h4 Created by
		ul
			li: a(href="https://twitter.com/knutsynstad" target="_blank") Knut M. Synstad
