nav
	h2 Visualizing the<br />Space of Logos of<br />the Fortune 500
	ul.navigation
		li
			svg#edit.icon: use(xlink:href='#icon-edit')
		li
			svg#share.icon: use(xlink:href='#icon-share')
		li
			svg#more.icon: use(xlink:href='#icon-more')